<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.parkoscope.business"
        versionCode = "154"
        version     = "1.5.4" >

    <!-- versionCode is optional and Android only -->

    <name>Parkoscope - Supervisor App</name>

    <description>
        App to Manage Parkings of a Parking Lot.
    </description>

    <author href="https://www.infinisystem.com" email="support@infiniteit.biz">
        Infini Systems
    </author>
    <preference name="android-targetSdkVersion" value="28"/>
    
    <preference name="orientation" value="portrait" />
    
    
    <plugin name="cordova-plugin-whitelist" />
    
    <content src="index.html"/>
    <access origin="*"/>
    <platform name="android" />
    
    <gap:plugin name="cordova-plugin-x-toast" source="npm" />
    
    <icon src="icon.png" />
    <splash src="splash.png" />
   </widget>
