<!DOCTYPE html>
<html lang="en-US" ng-app="occupyparking">
    <head>
        <title>Occupy Parking - Supervisor App</title>
        <script src="js/checkLogin.js"></script>
        <meta content="IE=edge" http-equiv="x-ua-compatible">
        <meta content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <!-- Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        <!-- Icons -->
        <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" media="all" rel="stylesheet" type="text/css">
        <!-- Styles -->
        <link href="css/keyframes.css" rel="stylesheet" type="text/css">

        <link href="css/materialize.min.css" rel="stylesheet" type="text/css">
        <link href="css/swiper.css" rel="stylesheet" type="text/css">
        <link href="css/swipebox.min.css" rel="stylesheet" type="text/css">
        <link href="css/style.css" rel="stylesheet" type="text/css">

        <style>
            html {
                position: relative;
                min-height: 100%;
            }
            footer {
                display:none;
                position: absolute;
                left: 0;
                bottom: 0;
                height: auto;
                width: 100%;
                background-color: #fff !important;
            }
            .open-left{
                width: 30px;
            }
            .meh {
                margin-top: 63px;
                margin-left: 15px;
                margin-right: 45px;
                width: 70%;
            }

            .floating-button.animated.bouncein.delay-3 {
                text-align: right;
                margin: -40px 10px 0px;
                float: right;
            }

            .col{
                width: 100%
            }
            i {
                float: right;
                font-size: 20px !important;
                color: #1ac897;
            }
            .contact {
                position: relative;
                padding: 5px 20px 0px 65px;
            }

            .activity .date {
                position: absolute;
                top: 10px;
                left: 0;
            }

            .activity .dot {
                top: 9px;
            }

            .ion-search {
                font-size: 30px !important;
            }

            .activity{
                border-bottom: none;
            }


            .btn-floating.btn-large {
                width: 50px;
                height: 50px;
            }

            .btn-floating.btn-large i {
                line-height: 50px;
            }
        </style>


    </head>

    <body ng-controller="homeCtrl">
        <div class="m-scene" id="main"> <!-- Main Container -->

            <!-- Left Sidebar -->
            <ul id="slide-out-left" class="side-nav collapsible">
                <li>
                    <div class="sidenav-header primary-color">

                        <div class="nav-avatar">
                            <img class="circle avatar" src="img/user.png" alt="">
                            <div class="avatar-body">
                                <h3>Hello!</h3>
                                <p>{{ user.display_name}}</p>
                            </div>
                        </div>
                    </div>
                </li>

                <li><a href="#" ng-click="sync()" class="no-child"><i class="ion-android-sync"></i> Sync</a></li>
                <li><a href="#" ng-click="ref()" class="no-child"><i class="ion-shuffle"></i> Refresh</a></li>

                <li><a href="#" ng-click="logout()" class="no-child"><i class="ion-android-exit"></i> Logout</a></li>
            </ul>
            <!-- End of Sidebars -->

            <!-- Page Content -->
            <div id="content">

                <!-- Toolbar -->
                <div id="toolbar" class="primary-color">
                    <div class="open-left" id="open-left" data-activates="slide-out-left">
                        <i class="ion-android-menu"></i>
                    </div>
                    <span class="title">Occupy Parking</span>

                </div>



                <!-- Main Content -->
                <div class="animated fadeinup" >
                    <div class=" animated fadeindown " >
                        <div class="input-field meh">
                            <!-- <i class="ion-search prefix"></i> -->
                            <input class="validate" id="search" type="number" name="search" placeholder="SEARCH HERE..." ng-model="rnum"> 
                        </div>
                        <div class="">   

                            <div class="floating-button animated bouncein delay-3">

                                <span class="btn-floating resize btn-large waves-effect waves-light accent-color btn z-depth-1  modal-trigger" href="#modal1">
                                    <i class="ion-plus-round"></i>
                                </span>
                            </div>


                        </div>
                    </div>

                    <div class="p-t-20">
                        <ul class="tabs">
                            <li class="tab"><a class="active ftest1" href="#test1">Check-in</a></li>
                            <li class="tab"><a class="ftest2" href="#test2">Check-out</a></li>
                            <li class="tab"><a class="ftest3" href="#test3">Monthly</a></li>

                        </ul>
                    </div>

                    <div id="test1">
                        <div class="container activity">
                            <div class="row m-l-0">
                                <div class="col">
                                    <div data-vehicle-number="{{booking.rnum}}" data-booking-id="{{booking.id}}" ng-if="booking.bstatus == 1 && booking.btype != 3" class="contact" ng-repeat="booking in bookings">
                                        <span class="date">{{ booking.stime}}</span>
                                        <div class="dot z-depth-1 {{ (booking.ptype == 2 && booking.pstatus == 1) ? 'prepaid' : 'postpaid'}}">
                                        </div>
                                        <p>
                                            {{booking.rnum}}
                                            <i class="ion-log-in pull-right"  ng-click="checkin(booking.id)"></i>
                                        </p>
                                        <span>#{{booking.id}} {{booking.mname}} </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="test2">
                        <div class="container activity ">
                            <div class="row m-l-0">
                                <div class="col">

                                    <div data-vehicle-number="{{booking.rnum}}" data-booking-id="{{booking.id}}" ng-if="booking.bstatus == 2 && booking.btype != 3" class="contact" ng-repeat="booking in bookings">
                                        <span class="date">{{ booking.checkin_time | timestampToISO  | date:'h:mm a'}}</span>
                                        <div class="dot z-depth-1 {{ (booking.ptype == 2 && booking.pstatus == 1) ? 'prepaid' : 'postpaid'}}">
                                        </div>
                                        <p class="{{ booking.via == 1 ? 'vred' : '' }}">
                                            {{booking.rnum}} 
                                            <!-- <i class="ion-edit" ng-if="booking.via == 1" ng-click="editB(booking.id)"></i> &nbsp; -->
                                            <!-- <i class="ion-log-out circle" ng-if="booking.via == 1" ng-click="scheckout(booking.id, booking.checkin_time)"></i>--> 
                                            <i class="ion-log-out circle" ng-click="ncheckout(booking.id)"></i> 


                                        </p>
                                        <span>#{{booking.id}} {{booking.mname}} </span>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="test3">
                        <div class="container activity">
                            <div class="row m-l-0">
                                <div class="col">

                                    <div data-vehicle-number="{{booking.rnum}}" data-booking-id="{{booking.id}}" ng-if="booking.btype == 3" class="contact" ng-repeat="booking in bookings">
                                        <span class="date">{{ booking.stime}}</span>
                                        <div class="dot z-depth-1">
                                        </div>
                                        <p>
                                            {{booking.rnum}}
                                            <i ng-click="minout(booking.id, 1)" class="ion-log-in circle" ng-if="booking.checkin_time < booking.checkout_time"></i> 
                                            <i ng-click="minout(booking.id, 2)" class="ion-log-out circle" ng-if="booking.checkin_time > booking.checkout_time"></i>

                                        </p>
                                        <span>#{{booking.id}} {{booking.mname}} </span>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Footer -->
                    <footer class="page-footer">

                        <div class="footer-copyright primary-color">
                            <div class="container">
                                &copy; 
                                2017
                                <a class="grey-text text-lighten-4 right" href="#!">Powered by i-Stron</a>
                            </div>
                        </div>
                    </footer>

                </div> 
                <!-- End of Main Contents -->


            </div> <!-- End of Page Content -->

        </div> <!-- End of Page Container -->


        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Add New Booking</h4>
                <form id="addBooking">
                   
                   


                    <div class="input-field">
                        <!--<i class="ion-iphone prefix"></i> -->
                        <input class="validate" id="mobile" type="number" oninput="maxLengthCheck(this)"  name="mobile" placeholder="Mobile Number (9867001155)" style="text-transform: uppercase;"> 
                    </div>

                    <div class="input-field" style="margin-top: 0;">
                        <!--<i class="ion-model-s prefix"></i> -->
                        <input class="validate" id="rnum" ng-model="rnum" type="text" placeholder="Vehicle Number (MH01AA1234)" name="vechicle_no" oninput="maxLengthCheck(this)" style="text-transform: uppercase;"> 
                    </div>

                    <div style="margin-bottom:15px;margin-top:15px;">





                        <input name="term" type="radio" id="fwow" value="4" checked/>
                        <label for="fwow" style="padding-right:20px;">4 WHEELER</label> 

                        <input name="term" type="radio" id="twow"  value="3" />
                        <label for="twow">2 WHEELER</label>

                        <input type="hidden" name="userId" value="{{ user.ID}}" />
                        <input type="hidden" name="via" value="1" />
                        <input type="hidden" name="pid" value="{{ user.parkingLot}}" />

                    </div>
                     <div ng-if="user.is_madd == '1'" style="margin-top:15px;margin-bottom:15px;">
                        <input name="btype" type="radio" id="fbtype" value="1" checked/>
                        <label for="fbtype" style="padding-right:20px;">HOURLY</label> 

                        <input name="btype" type="radio" id="tbtype"  value="3" />
                        <label for="tbtype">MONTHLY</label>
                    </div>
                </form>
                <button ng-disabled="isDisabled" class="waves-effect waves-light btn-large accent-color width-100  animated bouncein delay-4" id="addBooking" ng-click="addBooking()">Add Booking</button>
            </div>
            <!-- <div class="modal-footer">
                <button class="modal-action modal-close waves-effect waves-green btn-flat pull-left">Cancel</button>

            </div>-->
        </div>

        <div id="modal2" class="modal">
            <div class="modal-content">
                <h4>Edit Booking #{{ bid}}</h4>
                <form id="editBooking">


                    <div class="input-field" style="margin-top: 0;">
                        <!--<i class="ion-model-s prefix"></i> -->
                        <input class="validate" id="rnum" type="text" placeholder="Vehicle Number" name="vechicle_no" oninput="maxLengthCheck(this)" style="text-transform: uppercase;"> 
                    </div>

                    <div style="margin-bottom:15px;margin-top:15px;">
                        <input type="hidden" name="bid" value="{{ bid}}" />


                    </div>
                </form>
                <button ng-disabled="isDisabled" class="waves-effect waves-light btn-large accent-color width-100  animated bouncein delay-4" id="addBooking" ng-click="updateBooking()">Update</button>
            </div>
            <!-- <div class="modal-footer">
                <button class="modal-action modal-close waves-effect waves-green btn-flat pull-left">Cancel</button>

            </div>-->
        </div>

        <script src="cordova.js"></script>

        <script src="js/jquery-2.1.0.min.js"></script>
        <script src="js/jquery.swipebox.min.js"></script>   
        <script src="js/materialize.min.js"></script> 
        <script src="js/swiper.min.js"></script>  
        <script src="js/jquery.mixitup.min.js"></script>
        <script src="js/masonry.min.js"></script>
        <script src="js/chart.min.js"></script>
        <script src="js/functions.js"></script>
        <script src="js/myscripts.js"></script>
        <script src="js/angular/angular.min.js"></script>
        <script src="js/angular-sanitize.js"></script>
        <script src="js/app.js"></script>

    </body>
</html>