<!DOCTYPE html>
<html lang="en-US" ng-app="occupyparking">
    <head>
        <title>Occupy Parking - Supervisor App</title>
        <script src="js/checkLogin.js"></script>
        <meta content="IE=edge" http-equiv="x-ua-compatible">
        <meta content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <!-- Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        <!-- Icons -->
        <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" media="all" rel="stylesheet" type="text/css">
        <!-- Styles -->
        <link href="css/keyframes.css" rel="stylesheet" type="text/css">

        <link href="css/materialize.min.css" rel="stylesheet" type="text/css">
        <link href="css/swiper.css" rel="stylesheet" type="text/css">
        <link href="css/swipebox.min.css" rel="stylesheet" type="text/css">
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <link href="css/pace-theme-center-circle.css" rel="stylesheet" type="text/css"/>

        <style>
            .meh {
                margin-top: 70px;
                margin-left: 15px;
                margin-right: 45px;
            }

            .floating-button.animated.bouncein.delay-3 {
                text-align: right;
                margin: -43px 10px 0px;
                float: right;
            }
        </style>


    </head>

    <body ng-controller="homeCtrl">
        <div class="m-scene" id="main"> <!-- Main Container -->

            <!-- Left Sidebar -->
            <ul id="slide-out-left" class="side-nav collapsible">
                <li>
                    <div class="sidenav-header primary-color">

                        <div class="nav-avatar">
                            <img class="circle avatar" src="img/user.png" alt="">
                            <div class="avatar-body">
                                <h3>Hello</h3>
                                <p>{{ user.display_name}}</p>
                            </div>
                        </div>
                    </div>
                </li>

                <li><a href="#" class="no-child"><i class="ion-android-sync"></i> Sync</a></li>
                <li><a href="#" ng-click="ref()" class="no-child"><i class="ion-shuffle"></i> Refresh</a></li>

                <li><a href="#" class="no-child"><i class="ion-android-exit"></i> Logout</a></li>
            </ul>
            <!-- End of Sidebars -->

            <!-- Page Content -->
            <div id="content">

                <!-- Toolbar -->
                <div id="toolbar" class="primary-color">
                    <div class="open-left" id="open-left" data-activates="slide-out-left">
                        <i class="ion-android-menu"></i>
                    </div>
                    <span class="title">Occupy Parking</span>

                </div>



                <!-- Main Content -->
                <div class="animated fadeinup" >
                    <div class=" animated fadeindown " >
                        <div class="input-field meh">
                            <i class="ion-search prefix"></i> 
                            <input class="validate" id="search" type="text" name="search"> 
                            <label for="mobile" class="">Search</label>
                        </div>
                        <div class="">   

                            <div class="floating-button animated bouncein delay-3">

                                <span class="btn-floating resize btn-large waves-effect waves-light accent-color btn z-depth-1  modal-trigger" href="#modal1">
                                    <i class="ion-plus"></i>
                                </span>
                            </div>


                        </div>
                    </div>

                    <div class="p-t-20">
                        <ul class="tabs">
                            <li class="tab"><a class="active ftest1" href="#test1">Upcoming</a></li>
                            <li class="tab"><a class="ftest2" href="#test2">In the Lot</a></li>
                            <li class="tab"><a class="ftest3" href="#test3">Monthly</a></li>

                        </ul>
                    </div>

                    <div id="test1">
                        <div class="container activity p-l-r-20">
                            <div class="row m-l-0">
                                <div class="col">
                                    <div data-vehicle-number="{{booking.rnum}}" data-booking-id="{{booking.id}}" ng-if="booking.bstatus == 1 && booking.btype != 3" class="contact" ng-repeat="booking in bookings">
                                        <span class="date">{{ booking.stime}}</span>
                                        <div class="dot z-depth-1 {{ (booking.ptype == 2 && booking.pstatus == 1) ? 'prepaid' : 'postpaid'}}">
                                        </div>
                                        <p>
                                            #{{ booking.id}} - {{booking.rnum}}
                                        </p>
                                        <span>{{booking.mname}}</span>
                                        <div class="friends">
                                            <i class="ion-log-in circle" ng-click="checkin(booking.id)"></i> 

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="test2">
                        <div class="container activity p-l-r-20">
                            <div class="row m-l-0">
                                <div class="col">

                                    <div data-vehicle-number="{{booking.rnum}}" data-booking-id="{{booking.id}}" ng-if="booking.bstatus == 2 && booking.btype != 3" class="contact" ng-repeat="booking in bookings">
                                        <span class="date">{{ booking.stime}}</span>
                                        <div class="dot z-depth-1 {{ (booking.ptype == 2 && booking.pstatus == 1) ? 'prepaid' : 'postpaid'}}">
                                        </div>
                                        <p class="{{ booking.via == 1 ? 'vred' : '' }}">
                                            #{{ booking.id}} - {{booking.rnum}}
                                        </p>
                                        <span>{{booking.mname}}</span>
                                        <div class="friends">
                                            <i class="ion-log-out circle" ng-if="booking.via == 1" ng-click="scheckout(booking.id,booking.checkin_time)"></i> 
                                            <i class="ion-log-out circle" ng-if="booking.via != 1" ng-click="ncheckout(booking.id)"></i> 
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="test3">
                        <div class="container activity p-l-r-20">
                            <div class="row m-l-0">
                                <div class="col">

                                    <div data-vehicle-number="{{booking.rnum}}" data-booking-id="{{booking.id}}" ng-if="booking.btype == 3" class="contact" ng-repeat="booking in bookings">
                                        <span class="date">{{ booking.stime}}</span>
                                        <div class="dot z-depth-1">
                                        </div>
                                        <p>
                                            #{{ booking.id}} - {{booking.rnum}}
                                        </p>
                                        <span>{{booking.mname}}</span>
                                        <div class="friends">
                                            <i ng-click="minout(booking.id, 1)" class="ion-log-in circle" ng-if="booking.checkin_time < booking.checkout_time"></i> 
                                            <i ng-click="minout(booking.id, 2)" class="ion-log-out circle" ng-if="booking.checkin_time > booking.checkout_time"></i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Footer -->
                    <footer class="page-footer primary-color">

                        <div class="footer-copyright blue darken-1">
                            <div class="container">
                                2017
                                <a class="grey-text text-lighten-4 right" href="#!">Powered by i-Stron</a>
                            </div>
                        </div>
                    </footer>

                </div> 
                <!-- End of Main Contents -->


            </div> <!-- End of Page Content -->

        </div> <!-- End of Page Container -->


        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Add New Booking</h4>
                <form id="addBooking">
                    <div class="input-field">
                        <i class="ion-iphone prefix"></i> 
                        <input class="validate" id="mobile" type="text" name="mobile"> 
                        <label for="mobile" class="">Mobile Number</label>
                    </div>

                    <div class="input-field">
                        <i class="ion-model-s prefix"></i> 
                        <input class="validate" id="rnum" type="text" name="vechicle_no"> 
                        <label for="rnum">Registration Number</label>
                    </div>

                    <div style="margin-bottom:20px;">
                        <input name="term" type="radio" id="twow" checked value="3" />
                        <label for="twow">Two Wheeler</label>

                        <input name="term" type="radio" id="fwow" value="4" />
                        <label for="fwow">Four Wheeler</label>

                        <input type="hidden" name="userId" value="{{ user.ID}}" />
                        <input type="hidden" name="via" value="1" />
                        <input type="hidden" name="pid" value="{{ user.parkingLot}}" />

                    </div>
                </form>
                <button class="waves-effect waves-light btn-large accent-color width-100 m-b-20 animated bouncein delay-4" id="addBooking" ng-click="addBooking()">Add Booking</button>
            </div>
            <div class="modal-footer">
                <button class="modal-action modal-close waves-effect waves-green btn-flat pull-left">Cancel</button>

            </div>
        </div>
        <script src="cordova.js"></script>

        <script src="js/jquery-2.1.0.min.js"></script>
        <script src="js/jquery.swipebox.min.js"></script>   
        <script src="js/materialize.min.js"></script> 
        <script src="js/swiper.min.js"></script>  
        <script src="js/jquery.mixitup.min.js"></script>
        <script src="js/masonry.min.js"></script>
        <script src="js/chart.min.js"></script>
        <script src="js/functions.js"></script>
        <script src="js/myscripts.js"></script>

        <script src="js/angular/angular.min.js"></script>
        <script src="js/angular-sanitize.js"></script>
        <script src="js/pace.min.js"></script>
        <script src="js/app.js"></script>

    </body>
</html>